<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/e9fa5853c0.js" crossorigin="anonymous"></script>
    <title>SmartBidZ</title>
</head>
<body>
    <div class="grid-container">
      <header class="row">
          <div>
              <a class="brand "href="index.html">Auctions</a>
          </div>
          <div>
              <a href="register.html">Register</a>
              <a href="login.html">Login</a>
          </div>
      </header>
      <main>
          <div>
          <div class="row center">
          <div class="card">
              <a href="product.html">
                  <!-- image size : 680px by 830px-->
                  <img class="medium " src="images/Portrait of King.jpg" alt="product">
              </a>
              <div class="card-body">
                <a href="product.html">
                    <h2>Nicolae Grigorescu's </h2>
                </a>
                <div class="price">
                    $120
                </div>
            </div>
        </div>
        <div class="card">
            <a href="product.html">
                <!-- image size : 680px by 830px-->
                <img  class="medium " src="images/Antique dinning table.jpg" alt="product">
            </a>
            <div class="card-body">
              <a href="product.html">
                  <h2>Ladybug Bronze Ashtray</h2>
              </a>

                
              <div class="price">
                  $120
              </div>
          </div>
      </div>
      <div class="card">
        <a href="product.html">
            <!-- image size : 680px by 830px-->
            <img class="medium " src="images/My tiny eye-Asian tusker by sasith weerasinha.jpg"   alt="product">
        </a>
        <div class="card-body">
          <a href="product.html">
              <h2>Queen Elizabeth Coin</h2>
          </a>

             
              
          <div class="price">
              $120
          </div>
      </div>
  </div>
  <div class="card">
    <a href="product.html">
        <!-- image size : 680px by 830px-->
        <img class="medium " src="images/Art_culture.jpg" alt="product">
    </a>
    <div class="card-body">
      <a href="product.html">
          <h2>"The Bane choronicles" Book</h2>
      </a>

         
         
      <div class="price">
          $120
      </div>
  </div>
</div>
<div class="card">
    <a href="product.html">
        <!-- image size : 680px by 830px-->
        <img class="medium " src="images/Queen.jpg" alt="product">
    </a>
    <div class="card-body">
      <a href="product.html">
          <h2>Clockwork Angel</h2>
      </a>

         
         
      <div class="price">
          $120
      </div>
    </div>
   </div>
   <div class="card">
    <a href="product.html">
        <!-- image size : 680px by 830px-->
        <img class="medium " src="images/Birds and Hearts -A mouring ring.jpg" alt="product">
    </a>
    <div class="card-body">
      <a href="product.html">
          <h2>Clockwork Angel</h2>
      </a>

         
         
      <div class="price">
          $120
      </div>
    </div>
   </div>
 </div>
</div>
          
      </main>
      <footer class="row center">All right reserved</footer>
    </div>
</body>
</html>